#container{

	margin-left:auto;
	margin-right:auto;
	background-color:yellow;
	width:500px;
	height:250px;
}

#container2{


	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	width:500px;
	height:80px;

}

body{
	background-color:gray;
}
#letter1{
	display:inline-block;
	width:50px;
	height:50px;
	font-size:20px;
	border-width:2px;
	border-color:black;
}
#check{
	bottom:0px;
	margin-left:auto;
	margin-right:auto;
}

#woord{
	width:50px;
	height:20px;
}

#letter{
	width:50px;
	height:20px;
}

#input1{
	width:100px;
	height:20px;
}

#input2{
	width:100px;
	height:20px;
}